[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target
Documentation="https://www.consul.io/docs/agent/options"

[Service]
Restart=on-failure
ExecStart=/usr/bin/consul agent -config-dir={{configdir}}/consul.d -enable-script-checks
User={{user}}
Group={{group}}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target