# Full configuration options can be found at https://www.nomadproject.io/docs/configuration

data_dir = "{{ datadirs[name] | default(datadir) }}/nomad"
bind_addr = "0.0.0.0"
{% if server %}
server {
  enabled = true
  bootstrap_expect = 1
}
{% endif %}
client {
  enabled = true
  servers = ["ix:4646"]
  {% for vol in volumes %}
  host_volume "{{vol.name}}" {
      path      = "{{vol.path}}"
      read_only = false
  }
  {% endfor %}
}

{% if vault %}
vault {
  enabled = true
  address = "http://ix:{{ vault.ports.http }}"
  token = "{{ vault_nomad_token }}"
  task_token_ttl = "72h"
  create_from_role = "nomad-cluster"
}
{% endif %}

{% if consul %}
consul {
    token = "{{ consul_nomad_token }}"
    address = "ix:{{consul.ports.http}}"
    ssl       = true
    ca_file = "{{ configdir }}/consul.d/consul-agent-ca.pem"
    cert_file = "{{configdir}}/consul.d/{{ datacenter }}-server-consul-0.pem"
    key_file = "{{configdir}}/consul.d/{{ datacenter }}-server-consul-0-key.pem"
}
{% endif %}

{% if podman %}
plugin "nomad-driver-podman" {
  config {
    socket_path="unix://run/user/990/podman/podman.sock"
    volumes {

      enabled      = true
      selinuxlabel = "z"
    }
  }
}
{% else %}
plugin "docker" {
  config {
    gc {
      image       = true
      image_delay = "3m"
      container   = true

      dangling_containers {
        enabled        = true
        dry_run        = false
        period         = "5m"
        creation_grace = "5m"
      }
    }

    volumes {
      enabled      = true
      selinuxlabel = "z"
    }

  }
}
{% endif %}